.item {
  display: flex;
  flex-direction: column;
  width: 350px;
  /* overflow: hidden; */
  white-space: nowrap;
  margin-right: 20px;
  /* overflow-x: scroll; */
}

.item__details {
  display: flex;
  margin-top: 25px;
  overflow: hidden;
}

.item__details > img {
  object-fit: contain;
  height: 60px;
  margin-right: 10px;
}
